<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="video/main" charset="UTF-8">
<head>
	<meta charset="UTF-8">
	<title>互动模块</title>
	<link rel="stylesheet" href="../video/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../video/css/payAuth.css" />
	<link rel="stylesheet" href="../video/css/basicStyle.css"/>
	<link rel="stylesheet" href="../video/css/test.css" />

	<script src="../video/js/jquery.min.js"></script>
	<script>
        var IMGWIDTH;
		/*获取题目列表*/
		$(function(){
			$.ajax({
                type: "POST",
                url:server_url+"/video/interactive/post/findAllModel",
                dataType: "json",
                success: function(rs){
                	if(rs.success){
                		var issuesStr = "";
		            	$.each(rs.data.list,function(inx,obj){
		            		issuesStr += "<div class='col-md-3 margin-bottom-10'><div class='col-md-12 table-bg border-bottom-white padding-rl-0 issues-info'><div class='col-md-6 text-left issues-title'>"+obj['name']+"</div><div class='col-md-6'><div class='removeDiv' id='issuesId_"+obj['id']+"' onclick='javascript:removeIssues(this)'>X</div></div></div><div class='col-md-12 table-bg padding-rl-0 issues-info'><div class='col-md-6 text-left'>作者</div><div class='col-md-6  text-right'>"+obj['author']+"</div></div><div class='col-md-12 table-bg padding-rl-0 issues-info'><div class='col-md-6 text-left'>类型</div><div class='col-md-6 text-right'>"+obj['catalogName']+"</div></div><div class='col-md-12 table-bg padding-rl-0 issues-info'><div class='col-md-6 text-left'>适用年龄</div><div class='col-md-6 text-right'>"+obj['suitableAge']+"岁</div></div></div>"
		            	});
		            	$('.issues-list').append(issuesStr);
                	}
                },
                error: function(){

                }
            });
		});
		/*添加题目*/
		$(function(){
			$('#btn-add-issues').click(function(){
				$('.shield').parent().removeClass('hidden');
                var issuesListHeight = $('.list-body').height() + 75;
                $('.issues-card').css('top',-issuesListHeight);
                IMGWIDTH = $('#issues-details').width() / 4 - 10;
			});
		});

		/*点击取消添加*/
		$(function(){
			$('#btn-cancel').click(function(){
				$('.shield').parent().addClass('hidden');
			});
		});
		
		$(function(){
			$('.shield').click(function(){
				$('#school-list').addClass('hidden');
			});
		});

        $(function() {
            var objUrl;
            var img_html;{ 
                $(".myFile").change(function() {
                    var myFileId = $(this).attr('id');
                    var img_div = $(".img_div");
                    var filepath = $(this).val();
                    for(var i = 0; i < this.files.length; i++) {
                        objUrl = getObjectURL(this.files[i]);
                        var extStart = filepath.lastIndexOf(".");
                        var ext = filepath.substring(extStart, filepath.length).toUpperCase();
                        if(ext != ".BMP" && ext != ".PNG" && ext != ".GIF" && ext != ".JPG" && ext != ".JPEG") {
                            $(".shade").fadeIn(500);
                            $(".text_span").text("图片限于bmp,png,gif,jpeg,jpg格式");
                            this.value = "";
                            $(".img_div").html("");
                            return false;
                        } else {
                            img_html = "<div class='isImg' style='width:"+IMGWIDTH+"px'><img src='" + objUrl + "' style='height: 100%; width: 100%;' /><button class='removeBtn' onclick='javascript:removeImg(this)'>X</button></div>";
                            img_div.append(img_html);
                        }
                    }
                    return true;
                });
            }
            /*获取图片地址*/
            function getObjectURL(file) {
                var url = null;
                if(window.createObjectURL != undefined) { // basic
                    url = window.createObjectURL(file);
                } else if(window.URL != undefined) { // mozilla(firefox)
                    url = window.URL.createObjectURL(file);
                } else if(window.webkitURL != undefined) { // webkit or chrome
                    url = window.webkitURL.createObjectURL(file);
                }
                return url;
            }
        });
        /*删除图片*/
        function removeImg(r){
            $(r).parent().remove();
        }
        /*阻止enter键表单事件*/
        $(document).keydown(function(event){
          switch(event.keyCode){
                 case 13:
                 return false; 
             }
        });
        /*验证表单*/
        function checkFrom(){
            var flag = 1;
            var imgVal = $("input[type$='file']").val();
            if(!imgVal){
                alert("请先上传图片");
                return false;
            }
            $("input[type$='text']").each(function(n){
                if($(this).val()==""){
                  flag = 0;
                }
            });
            if(!flag){
                alert("请将题卡数据填写完整后再进行提交");
                return false;
            }
            else{
                return true;
            }

        }

        /*删除题卡*/
        function removeIssues(obj){
            if(confirm("确定删除该题卡")){
                var issuesId = $(obj).attr('id').split('_')[1];
                $.ajax({
                    type: "POST",
                    url:server_url+"/video/interactive/post/deleteModel/"+issuesId,
                    dataType: "json",
                    success: function(rs){
                        if(rs.success){
                            $(obj).parent().parent().parent().remove();
                            alert('成功删除该模块');
                        }
                    },
                    error: function(){

                    }
                });
            }
        }
	</script>

</head>
<body>
    <div layout:fragment="content" class="container width-100 padding-rl-0">
    	<div class="col-md-12 list-body bg-color-white width-80 padding-rl-0 margin-bottom-20">
	    	<div class="col-md-12 list-title list-height">
	    		互动题卡
	    	</div>
	    	<div class="col-md-12 padding-rl-0 margin-bootom-2">
		    	<div class="col-md-10 list-height">题卡列表</div>
		    	<div class="col-md-2 list-height text-right">
		    		<button type="button" class="btn btn-info btn-color2" id="btn-add-issues">添加题卡</button>
		    	</div>
	    	</div>
	    	<div class="col-md-12 table-font-color padding-rl-0 issues-list margin-bottom-10">
	    	</div>
    	</div>
    	<div class="col-md-12 padding-rl-0 hidden">
    		<div class="shield"></div>
    		<div id="issues-details" class="col-md-12 padding-rl-5 issues-card">
    			<div class="col-md-12  padding-rl-0  border-bottom-gray issues-title issues-div">
    				新增题目
    			</div>
                <form method="POST" enctype="multipart/form-data" action="/video/upload" onSubmit="return checkFrom()" name='issuesForm'>
                    <div class="col-md-12  padding-rl-0 border-bottom-gray" id='issues-photos'>
                        <div class="col-md-12  padding-rl-0 img_div margin-top-10">

                        </div>
                        <!-- <input type="submit" value="提交" class="submit-btn"/> -->
                        <a href="javascript:;" class="a-upload">
                            <input type="file" name="file" id="myFile1" multiple="multiple" class="myFile"/>点击上传图片
                        </a>
                        <div class="shade">
                            <div class="">
                                <span class="text_span">
                                    
                                </span>
                            </div>
                        </div>

                        <div class="shadeImg">
                            <div class="">
                                <img class="showImg" src="">
                            </div>
                        </div>
                    </div>

        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					文件名称
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入XML文件的名称（例如：template1）" id="issues-name" name="name">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div hidden">
        				<div class="col-md-3 padding-rl-0">
        					作者
        				</div>
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入作者（例如：didano）" id='issues-author' name="author" value="didano">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					题目类型
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入题目类型（例如：动物）" id="issues-kinds1" name="ParentKinds">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					题目类型
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入题目种类（例如：哺乳动物）" id="issues-kinds2" name="kinds">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray hidden">
        				<div class="col-md-3 padding-rl-0">
        					学校
        				</div>
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入学校（必填）" id="issues-school" name="school_id" value="0">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					适用年龄
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入题目使用年龄（例如:5-12）（必填）" id="issues-age" name='suitable_age'>
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					正确答案
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入正确题目（例如：pic1）" id="issues-correct" name='correct'>
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					题目描述
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入问题描述（例如：看看哪个是猴子呢？）" id="issues-question" name="question">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					答前提示
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入答题前提示语（例如：准备答题哦）" id="issues-prepare" name="prepare">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					答对提示
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入答对题提示语（例如：答对了，好厉害）" id="issues-answerOk1" name="answerOkWords">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					答对动作
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入答对小诺动作（例如：1.小诺点赞）" id="issues-answerOk2" name="answerOkAction">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					答错提示
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入答错题提示语（例如：很遗憾，下次再接再厉哦）" id="issues-answerError1" name="answerErrorWords">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 border-bottom-gray issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        					答错动作
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入答错小诺动作（例如：1.小诺鼓励）" id="issues-answerError2" name="answerErrorAction">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        				   再见提示
        				</div> -->
        				<div class="col-md-12 padding-rl-0">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入再见提示语（例如：下次再见）" id="issues-goodbye1" name="goodbyeWords">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 issues-div">
        				<!-- <div class="col-md-3 padding-rl-0">
        				   再见动作
        				</div> -->
        				<div class="col-md-12 padding-rl-0 border-bottom-gray">
    	    				<input type="text" class="no-border width-100 text-left height-80" placeholder="请输入再见小诺动作（例如：12.2.4秒小诺吐舌头）" id="issues-goodbye2" name="goodbyeAction">
        				</div>
        			</div>
        			<div class="col-md-12  padding-rl-0 text-right btn-div">
        				<div  class="btn btn-info btn-color-gray" id="btn-cancel">取消</div>
        				<button type="submit" class="btn btn-info btn-color2" id="btn-confirms">确定</button>
        			</div> 
                </form>			
        	</div>
        </div>
    </div>
    </div>
</body>
</html>