<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.didano.base.dao.Robot_SchoolMapper">
<resultMap id="BaseResultMap" type="cn.didano.base.model.Robot_School">
    <result column="title" jdbcType="VARCHAR" property="schoolName" />
    <result column="no" jdbcType="VARCHAR" property="deviceNo" />
    <result column="device_type" jdbcType="INTEGER" property="systemType" />
  </resultMap>
  <select id="findSchoolName" parameterType="cn.didano.base.model.Robot_School" resultMap="BaseResultMap">
     SELECT 
     b.title
     FROM `tb_device` a 
     left join tb_school b 
     on a.school_id=b.id 
     where a.no=#{deviceNo} and b.deleted=0 and a.deleted=0
  </select>
  <select id="findSheBei" parameterType="INTEGER" resultMap="BaseResultMap">
     SELECT 
     b.title,a.no,b.id as device_type
     FROM `tb_device` a 
     left join tb_school b 
     on a.school_id=b.id 
     where a.device_type=#{system_type} and a.deleted=0 and b.deleted=0 ORDER BY b.title
  </select>
  <select id="findSheBei1" resultMap="BaseResultMap">
     SELECT 
     b.title,a.*
     FROM `tb_device` a 
     left join tb_school b 
     on a.school_id=b.id 
     where a.deleted=0 and b.deleted=0
  </select>
  
  <select id="findDeviceNo" parameterType="cn.didano.base.model.Robot_School" resultMap="BaseResultMap">
     SELECT 
     a.no,
     b.id
     FROM `tb_device` a 
     left join tb_school b 
     on a.school_id=b.id 
     where a.device_type=#{systemType} and b.title=#{schoolName} and b.deleted=0 and a.deleted=0
  </select>
   <select id="studentNumber" parameterType="INTEGER" resultMap="BaseResultMap">
    SELECT COUNT(1) device_type FROM tb_student where school_id=#{system_type} and deleted=0
  </select>
</mapper>

